@{
  Layout="Shared/_Layout";
}

<div class="container text-center">
  <h1 class="header"> Address Book</h1>
  <form action="/contact" method="post"  id='input-contact'>
    <label for="new-contact">Add a new contact</label>
    <input id="new-contact" class="form-control" name="new-contact" type="text">
    <button type="submit" class="btn btn-info" id="add-task-btn">Submit</button>
  </form>
  <br><br>
  <p><a href="/">Home</a></p>
</div>
