@{
	Layout = "Shared/_Layout.cshtml";
}

<div class = "container text-center">
	<ul>
  @foreach(var person in Model)
  {
      <li><a href="contact/@person.GetId()">@person.GetName()</a></li>
  }
	</ul>

	<p><a href="/contact/form">click here</a> to add a contact </p>

	<form action="/contacts/clear" method="post">
  	<button type="submit">Clear all contacts</button>
	</form>

</div>
